{% extends 'RevizFrontBundle:Layouts:usersLayout.html.twig' %}

{% block content %}
    <nav>
        <ul>
            {% if app.user %}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            {% endif %}
        </ul>
    </nav>
    {% for user in users %}
    <form method="post" action={{ path('changerole', { 'id' : user.id }) }}>
        <p>
            <li>
                {{ user.username }}

                {% if user.enabled == 0 %}
                    <span><b><a href="{{ path('activate', { 'id' : user.id }) }}">Activer l'utilisateur</a></b></span>
                {% endif %}

                {%  if user.enabled == 1 %}
                    <span><b><a href="{{ path('activate', { 'id' : user.id }) }}">Désactiver l'utilisateur</a></b></span>
                {% endif %}

                    {% for userrole in user.roles %}
                        <br><span>{{ userrole }}</span><br>
                    {% endfor %}

                <select name="role">
                    {% for key, role in roles %}
                        <option value="{{ key }}">{{ role }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submitRole" value="Valider">
            </li>
        </ul>
    </form>
    {% endfor %}
{% endblock content %}