{% extends 'RevizFrontBundle:Layouts:usersLayout.html.twig' %}

{% block content %}
    <nav>
        <ul>
            {% if app.user %}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            {% endif %}
        </ul>
    </nav>
    {% for user in users %}
    <form method="post" action={{ path('changerole', { 'id' : user.id }) }}>
        <ul>
            <li>
               <h1>{{ user.username }}{% if user.enabled == 1 %} (Activé) {% else %} (Désactivé) {% endif %}</h1>

                {% if user.enabled == 0 %}
                    <span><b><a href="{{ path('activate', { 'id' : user.id }) }}">Activer l'utilisateur</a></b></span>
                {% endif %}

                {%  if user.enabled == 1 %}
                    <span><b><a href="{{ path('activate', { 'id' : user.id }) }}">Désactiver l'utilisateur</a></b></span>
                {% endif %}

                <h3>Rôles de l'utilisateur:</h3>
                {% for userrole in user.roles %}
                    <span>{{ userrole }}, </span>
                {% endfor %}

                <h3>Ajouter un rôle</h3>
                <select name="role">
                    {% for key, role in roles %}
                        <option value="{{ key }}">{{ role }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="submitRole" value="Valider">

                <h3>Supprimer un rôle</h3>
                <ul>
                    {% for userrole in user.roles %}
                        <li><a href="{{ path('removerole', { 'id' : user.id, 'role' : userrole }) }}">{{ userrole }} (X)</a></li>
                    {% endfor %}
                </ul>

            </li>
        </ul>
    </form>
    {% endfor %}
{% endblock content %}