<input class="search" type="search" placeholder="Recherche" name="the_search"><!--
--><nav class="main-nav">
    <ul>
        <li class="formation">
            <a href="">Formation</a>
            <ul class="second-nav">
                {% for level in levels %}
                    <li class="nav-level"><a href="{{ path('level', {'id' : level.id}) }}">{{ level.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li class="question"><a href="{{ path('questions') }}">F.A.Q</a></li>
        <li class="about"><a href="{{ path('about') }}">A propos</a></li>
        <li class="contacts"><a href="{{ path('contacts') }}">Contacts</a></li>
    </ul>
</nav>